html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapper {
  margin-bottom: 10rem;
}

.section {
  padding: 40px;
}

.section-title {
  color: #088F7E;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 25px;
  text-align: center;
}

.swiper {
  width: 100%;
  height: 75vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  color: #088F7E !important;
}

.swiper-pagination-bullet {
  background-color: #088F7E !important;
}