.teams {
  background: url("../assets/images/bg-teams.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.greeting {
  background-color: rgba(217, 217, 217, 0.65);
}